<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.noo.app">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <meta-data
        android:name="twcal"
        android:value="E60BD8CEB3E4F587" />

    <application
        android:name=".core.ExApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.demo.view.paint.PaintActivity" />
        <activity android:name=".activity.demo.widget.qrcode.DecoderActivity" />
        <activity android:name=".activity.list.ListRecyclerActivity" />
        <activity android:name="com.noo.core.ui.web.VdpWebViewAct" />
        <activity android:name=".activity.demo.widget.drag.DragActivity" />
        <activity
            android:name=".activity.demo.webview.WebViewTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.demo.webview.WebViewH5Activity"
            android:screenOrientation="portrait" />

    </application>

</manifest>